openapi: 3.2.0
info:
  title: Android Management Web Apps API
  description: 'The Android Management API provides remote enterprise management of Android

    devices by creating and managing policies that control device behavior and

    apps. It is used by Enterprise Mobility Management (EMM) providers to manage

    Android Enterprise deployments.'
  version: v1
servers:
- url: https://androidmanagement.googleapis.com
security:
- OAuth2:
  - androidmanagement
tags:
- name: Web Apps
paths:
  /v1/{parent}/webApps:
    post:
      summary: Create web app
      operationId: createWebApp
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Web app
          content:
            application/json:
              schema:
                type: object
      tags:
      - Web Apps
    get:
      summary: List web apps
      operationId: listWebApps
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Web app list
          content:
            application/json:
              schema:
                type: object
      tags:
      - Web Apps
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            androidmanagement: Manage Android devices and apps for your customers
