openapi: 3.1.0
info:
  title: Android Management API
  description: |
    The Android Management API provides remote enterprise management of Android
    devices by creating and managing policies that control device behavior and
    apps. It is used by Enterprise Mobility Management (EMM) providers to manage
    Android Enterprise deployments.
  version: v1
servers:
  - url: https://androidmanagement.googleapis.com
security:
  - OAuth2: [androidmanagement]
paths:
  /v1/enterprises:
    post:
      summary: Create enterprise
      operationId: createEnterprise
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
        - name: signupUrlName
          in: query
          schema:
            type: string
        - name: enterpriseToken
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Enterprise'
      responses:
        '200':
          description: Enterprise created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enterprise'
    get:
      summary: List enterprises
      operationId: listEnterprises
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List response
          content:
            application/json:
              schema:
                type: object
                properties:
                  enterprises:
                    type: array
                    items:
                      $ref: '#/components/schemas/Enterprise'
                  nextPageToken:
                    type: string
  /v1/{name}:
    get:
      summary: Get enterprise
      operationId: getEnterprise
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          example: enterprises/LC0123abcd
      responses:
        '200':
          description: Enterprise resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enterprise'
    patch:
      summary: Update enterprise
      operationId: patchEnterprise
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Enterprise'
      responses:
        '200':
          description: Updated enterprise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enterprise'
    delete:
      summary: Delete enterprise
      operationId: deleteEnterprise
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
  /v1/{parent}/devices:
    get:
      summary: List devices
      operationId: listDevices
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
          example: enterprises/LC0123abcd
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Device list
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  nextPageToken:
                    type: string
  /v1/{name}/device:
    get:
      summary: Get device
      operationId: getDevice
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          example: enterprises/LC0123abcd/devices/3789123
      responses:
        '200':
          description: Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
  /v1/{name}:issueCommand:
    post:
      summary: Issue command to device
      operationId: issueDeviceCommand
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [LOCK, RESET_PASSWORD, REBOOT, RELINQUISH_OWNERSHIP, CLEAR_APP_DATA]
                duration:
                  type: string
                newPassword:
                  type: string
      responses:
        '200':
          description: Operation
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/policies:
    get:
      summary: List policies
      operationId: listPolicies
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
  /v1/{name}/policy:
    get:
      summary: Get policy
      operationId: getPolicy
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
    patch:
      summary: Create or update policy
      operationId: patchPolicy
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
      responses:
        '200':
          description: Updated policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
  /v1/{parent}/enrollmentTokens:
    post:
      summary: Create enrollment token
      operationId: createEnrollmentToken
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policyName:
                  type: string
                duration:
                  type: string
                additionalData:
                  type: string
                user:
                  type: object
      responses:
        '200':
          description: Token
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  value:
                    type: string
                  qrCode:
                    type: string
    get:
      summary: List enrollment tokens
      operationId: listEnrollmentTokens
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token list
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/webApps:
    post:
      summary: Create web app
      operationId: createWebApp
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Web app
          content:
            application/json:
              schema:
                type: object
    get:
      summary: List web apps
      operationId: listWebApps
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Web app list
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            androidmanagement: Manage Android devices and apps for your customers
  schemas:
    Enterprise:
      type: object
      properties:
        name:
          type: string
        enterpriseDisplayName:
          type: string
        primaryColor:
          type: integer
        logo:
          type: object
        enabledNotificationTypes:
          type: array
          items:
            type: string
        pubsubTopic:
          type: string
    Device:
      type: object
      properties:
        name:
          type: string
        userName:
          type: string
        managementMode:
          type: string
        state:
          type: string
        appliedState:
          type: string
        policyName:
          type: string
        enrollmentTime:
          type: string
          format: date-time
        lastStatusReportTime:
          type: string
          format: date-time
    Policy:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        applications:
          type: array
          items:
            type: object
        passwordRequirements:
          type: object
        cameraDisabled:
          type: boolean
        screenCaptureDisabled:
          type: boolean
