openapi: 3.1.0
info:
  title: Android Management Android Management API Policies API
  description: 'The Android Management API provides remote enterprise management of Android

    devices by creating and managing policies that control device behavior and

    apps. It is used by Enterprise Mobility Management (EMM) providers to manage

    Android Enterprise deployments.

    '
  version: v1
servers:
- url: https://androidmanagement.googleapis.com
security:
- OAuth2:
  - androidmanagement
tags:
- name: Policies
paths:
  /v1/{parent}/policies:
    get:
      summary: List policies
      operationId: listPolicies
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
      tags:
      - Policies
components:
  schemas:
    Policy:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        applications:
          type: array
          items:
            type: object
        passwordRequirements:
          type: object
        cameraDisabled:
          type: boolean
        screenCaptureDisabled:
          type: boolean
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            androidmanagement: Manage Android devices and apps for your customers
